
.light-background {
  background-color: $grey-color;
  height: 100%;
  padding-bottom: 28px;
}


.guarantees__title {
  text-align: center;
}


.color__text {
  color: $orange-color;
}


.guarantees__list {
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 11px;
}


.guarantees__item {
  position: relative;
  list-style: none;
  margin: 0;
  line-height: 24px;
  font-size: 11px;
  font-weight: 500;
  padding-top: 28px;
  padding-left: 40px;
}


.guarantees__item:not(:last-child)::before {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  border-left: 1px solid;
  border-left-style: dotted;
  height: 110%;
  color: #9d9d95;
  right: 94%;
}


.guarantees__item::after {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  width: 20px;
  height: 28px;
  fill: #ffffff;
  top: 22px;
  background-position: center;
  background-repeat: no-repeat;
  right: 91%;
  background-image: url(../images/icons/fire/fire.png);
}
