@font-face {
  $main-font: "Montserrat";
  src: url(../font/montserrat/montserrat-v14-latin-500.woff) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  $main-font: "Montserrat";
  src: url(../font/montserrat/montserrat-v14-latin-900.woff) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  $main-font: "Montserrat";
  src: url(../font/montserrat/montserrat-v14-latin-700.woff) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  $main-font: "Montserrat";
  src: url(../font/montserrat/montserrat-v14-latin-300.woff) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  $main-font: "Montserrat";
  src: url(../font/montserrat/montserrat-v14-latin-400.woff) format("truetype");
  font-style: normal;
  font-weight: 400;
}