/*TEXT COLORS*/

$orange-color: #ff6b08;
$black-color: #000000;
$min-grey-color: #b9b9b9;
$min-dark-color: #18191d;
$grey-color: #858585;
$white-color: #ffffff;
$grad-color-start: #585273;
$offwhite-bg-color: #fefefe;

// FONTS

$main-font: 'Montserrat', sans-serif;
