.advantage {
    padding-top: rem(200);
    padding-bottom: rem(54);
}
.advantage_list {
    font-size: rem(20);
    display: flex;
    justify-content: center;
    padding-bottom: rem(42);
     @include for-size (tablet-portrait-up){
              font-size: rem(26);
              font-family: $main-font;
    }
      @include for-size (desktop-up){
              font-size: rem(42);
              font-weight: 800;
             justify-content: flex-start;
             font-family: $main-font;
    }
}

.advantage__box-icons-list {
  display: flex;
  margin: 0 auto;
  list-style: none;
  flex-wrap: wrap;
        @include for-size (tablet-portrait-up) {
            justify-content: space-around;
            
        }
        @include for-size (desktop-up) {
            justify-content: space-between;
            .advantage__icons-item {
                width: rem(392);
                height: rem(342);
        }
        .advantage__title{
            font-size: rem(18);
            line-height: rem(29);
                @include for-size (desktop-up){
                   font-size: rem(18);
            }
        
        }
        
        }
        
    }
.box__icons-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.advantage__icons-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     padding:  rem(20) ;
     box-shadow: rem(4) 6.928px 26.68px 6.32px rgba(29, 29, 27, 0.11);
     height: rem(268);
     width: rem(280);
     display: block;
     background-color:$white-color;
    margin-bottom: rem(17);
   
}
.advantage__box-icons-svg {
   fill: $orange-color;
    height: rem(50);
    width: rem(60);
    
 
}
.advantage__title {
    font-size: rem(13);
    line-height: rem(20);
    color: $black-color;
    font-weight: 700;
    text-align: center;
    margin-bottom: rem(20);
}
.advantage__text {
    font-size: rem(11);
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: rem(20);
    color:$grey-color;
    text-align: center;
   padding: rem(0) rem(15);
}
.advantage__icons-item:hover,
.advantage__icons-item:focus {
    background-color:$orange-color;
    transition: 400ms linear;
}
.advantage__title::after {
    background-color: $orange-color;
    content: '';
    
    width: rem(25);
    height: rem(2);
    margin: rem(20) auto 0;
    display: block;
   }

  
   
   .advantage__icons-item:hover .advantage__box-icons-svg {
    color: $white-color;
    fill:$white-color;
}
   .advantage__icons-item:hover .advantage__title,
   .advantage__icons-item:hover .advantage__text {
       color: $white-color;
     
   }

   .advantage__icons-item:hover .advantage__title::after {
       background-color: $white-color;
      
   }

.advantage__icons-item:hover .advantage__title::after {
  background-color: $white-color;
}
