.advantage__box {
    display: block;
    margin: 0 auto;
}
.Advantage__box-icons {
display: flex;
margin: 0 auto;
}

.advantage__icons-item{
    margin-bottom: 17px;
    background-repeat: no-repeat;
    background-position: center;
   height: 268px;
   width: 280px;
}