.advantage {
    margin: 0 auto;
}
.advantage_list {
    display: flex;
    justify-content: center;
}
.advantage__box {
  margin: auto;
  display: flex;
  justify-content: center;
}
.Advantage__box-icons {
  display: flex;
  margin: 0 auto;
  list-style: none;
}
.box__icons-svg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage__icons-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     padding:  rem(10) ;
    //  box-shadow: rem(4) 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
     height: rem(268);
     width: rem(280);
     display: block;
     background-color:$white-color;
    margin-bottom: rem(17);
}
.advantage__box-icons-svg {
   fill: $orange-color;
    height: rem(50);
    width: rem(60);
    
    margin: rem(30) auto 0;
}
.advantage__title {
    font-size: rem(13);
    line-height: rem(20);
    color: $black-color;
    font-weight: 500;
    text-align: center;
    margin-bottom: rem(45);
}
.advantage__text {
    font-size: rem(11);
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: rem(20);
    color:$grey-color;
    text-align: center;
   padding: rem(0) rem(25);
}
.advantage__icons-item:hover,
.advantage__icons-item:focus {
    background-color:$orange-color;
    transition: 400ms linear;
}
.advantage__title::after {
    background-color: $orange-color;
    content: '';
    position: absolute;
    width: rem(25);
    height: rem(2);
    left: rem(140);
    right: rem(0);
    top: 10.438rem;
    display: block;
   }

  
   
   .advantage__icons-item:hover .advantage__box-icons-svg {
    color: $white-color;
    fill:$white-color;
}
   .advantage__icons-item:hover .advantage__title,
   .advantage__icons-item:hover .advantage__text {
       color: $white-color;
     
   }

   .advantage__icons-item:hover .advantage__title::after {
       background-color: $white-color;
      
   }

.advantage__icons-item:hover .advantage__title::after {
  background-color: white;
}
