.btn {
    width: rem(250);
    height: rem(48);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: rem(11);
    font-weight: bold;
    letter-spacing: rem(1);
    display: flex;
    justify-content: center;
}

.btn_orange {
    background-color: $grad-color-end;
    color: $white-txt-color;
}