

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
  

.light-background {
  background-color: $guarantees-bg-color;
  height: 100%;
  padding-bottom: 28px;
}


.guarantees__title {
  text-align: center;
}


.color__text {
  color: $orange-txt-color;
}


.guarantees__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.guarantees__item {
  position: relative;
  list-style: none;
  margin: 0;
  line-height: 24px;
  font-size: 11px;
  font-weight: 500;
  padding-top: 28px;
  padding-left: 40px;
}


.guarantees__item:not(:last-child)::before {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  border-left: 1px solid;
  border-left-style: dotted;
  height: 110%;
  color: #9d9d95;
  right: 94%;
}


.guarantees__item::after {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #ffffff;
  top: 28px;
  background-position: center;
  background-repeat: no-repeat;
  right: 91%;
  background-color: #9d9d44;
  background-image: url(../images/icons/fire/Fire.svg);
}

