
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
//   html {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//   }
  
  
//   *:hover {
//     -webkit-transition-property: all;
//     -o-transition-property: all;
//     transition-property: all;
//     -webkit-transition-duration: 200ms;
//     -o-transition-duration: 200ms;
//     transition-duration: 200ms;
//     -webkit-transition-timing-function: linear;
//     -o-transition-timing-function: linear;
//     transition-timing-function: linear;
//   }
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
  


.light-background {
  background-color: #d1d1d0;
  height: 400px;
  margin-bottom: 40px;
}

.section__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 26px;
}

.color__text {
  color: #ff6b08;
}

.guarantees__list {
  background-color: #d1d1d0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.guarantees__item {
  position: relative;
  list-style: none;
  margin: 0;
  padding-top: 28px;
  padding-left: 2.188rem;
}

// .guarantees__item::before {
//   content: "";
//   display: table;
//   clear: both;
//   position: absolute;
//   border-left: 1px solid;
//   border-left-style: dotted;
//   height: 98%;
//   color: #9d9d95;
//   right: 94%;
// }

.guarantees__item::before:not(:last-child) {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  border-left: 1px solid;
  border-left-style: dotted;
  height: 98%;
  color: #9d9d95;
  right: 94%;
}

.guarantees__item::after {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #ffffff;
  top: 28%;
  background-position: center;
  background-repeat: no-repeat;
  right: 90%;
  background-color: #9d9d44;
  background-image: url(src/images/icons/fire/Fire.svg);
}
