%m-reset {
    margin: 0;
}

%p-reset {
    padding: 0;
}

.sec-program {
    background-color: $black-color;
    padding-top: 52px;
    @extend %m-reset;
    // position: relative;
}

.sec-problems__wrapper,
.sec-program__wrapper {
    margin: 0 auto;
}

.sec-problems__content-wrapper,
.sec-program__content-wrapper {
    max-width: 280px;
    margin: 0 auto;
}

.points__points-wrapper {
    max-width: 280px;
    background-color: $offwhite-bg-color;
    padding-bottom: 28px;
}

.points__content-wrapper {
    max-width: 224px;
    margin: 0 auto;
    position: relative;
    top: -340px;
}

.sec-problems {
    background-color: $black-color;
    padding-top: 120px;
    // position: relative;
}

.reasons {
    // position: absolute;
}


/*PROGRAM LIST STYLES*/

.semesters {
    display: block;
    position: relative;
    padding-left: 25px;
}

.semesters::before {
    content: '';
    position: absolute;
    background-color: #546264;
    width: 2px;
    height: 92%;
    left: 0;
    top: 14px;
}

.semesters__item {
    display: block;
    position: relative;
}

.semesters__item::before {
    content: '';
    display: block;
    position: absolute;
    background-color: $orange-color;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: -29px;
    top: 11px;
}

.semesters__title {
    color: $white-color;
    line-height: 1;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 28px;
    font-family: $main-font;
    @extend %m-reset;
}

.subjects {}

.subjects__item {}

.subjects__title {
    display: block;
    color: $orange-color;
    position: relative;
    font-size: 21px;
    line-height: 1.4;
    padding-left: 35px;
    margin-bottom: 22px;
    font-family: $main-font;
    @extend %m-reset;
}

.subjects__title::before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $orange-color;
    left: 0px;
    top: 13px;
}

.subjects__title_hidden {
    visibility: hidden;
}

.topics {}

.topics__item {}

.topics__title {
    color: $grey-color;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 12px;
    font-family: $main-font;
    @extend %m-reset;
}


/*REASONS*/

.reasons {}


/*POINTS LIST STYLES*/

.points {
    display: block;
    // position: absolute;
    background-color: $white-color;
    padding-top: 22px;
}

.points__item {}

.points__title {
    color: $orange-color;
    font-size: 21px;
    line-height: 1.4;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
    font-family: $main-font;
    @extend %m-reset;
}

.points__title::before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $orange-color;
    left: 0px;
    top: 13px;
}

.points__description {
    color: $black-color;
    font-size: 21px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 22px;
    font-family: $main-font;
    @extend %m-reset;
}