.link_orange {
  @include font-settings(rem(11), rem(30));
  font-family: $main-font;
  color: $orange-color;
  text-decoration: underline;

  @include for-size(desktop-up) {
    @include font-settings(rem(16), rem(30));
  }
}
