.section__title {
    @include font-settings(rem(20), rem(30));
    $main-font: 'Montserrat';
    color: $black-color;
    font-weight: bold;
}

.section__title_white {
    color: $white-color;
    font-size: 20px;
    margin-bottom: 42px;
}