.section__title {
    @include font-settings(rem(20), rem(30));
    font-family: 'Montserrat';
    color: $dark-txt-color;
    font-weight: bold;
}

.section__title_white {
    color: $white-txt-color;
}