.footer {
    font-size: rem(18);
    line-height: rem(38);
}

.copyright {
    font-size: rem(11);
    line-height: rem(38);
    color: $footer-gray-color;
    min-width: rem(320);
    height: 72px;
    background-color: $black-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}