.header {
  padding: 24px 0 0;
  
}
.position-relative {
  position: relative;
  z-index: 10;

}
.overlay {
  z-index: 0;
  display: none;
  padding-top: 20px;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  margin: auto;
}
.header_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-57 {
  margin-bottom: 57px;

}
.burger {
  display: flex;
  height: 12px;
  width: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  @include for-size (desktop-up) {
    display: none;
  }
}
.burger__item {
  height: 2px;
  width: 24px;
  background-color: $min-dark-color ;
}
.menu {
  display: flex;
  justify-content: center;

  
}
.nav__list{
  padding: 0 20px 0 33px ;
  margin-bottom: 45px;
  
}
.nav__item {
  font-size: 20px;
  line-height: 37px;
  font-weight: 700;
  font-family: $main-font;
  color: $white-color;
  
  &:hover {
    color: $orange-color;
  }

}
.header__btn__opacity {
  background-color: rgba(0,0,0,0.0);
  border: 2px solid $orange-color;
  color: $orange-color;
}
.overlay__svg {
  width: rem(26);
  height: rem(26);

}
.overlay__svg use {
  width: rem(26);
  height: rem(26);

}
.close {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.z-index {
  z-index: 10;
}
.header__btn {
  display: none;
  @include for-size (tablet-portrait-up) {
    display: inline-block;
  }

}
.btn-and-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include for-size (tablet-portrait-up) {
    min-width: 317px;
  }

  


} 
.overlay__btn {
  @include for-size (tablet-portrait-up) {
    display: none;
  }

}
.nav__grey-list {
  display: none;
  @include for-size (desktop-up) {
    display: flex;
  }
    
}
.nav__grey-item {
  @include for-size (desktop-up) {
    color: $grey-color;
    margin-right: 20px;
  
    
  }
}

.nav__grey-item:hover {
  color: $orange-color;
}
.logo-01 {
  width: 80px;
  height: 40px;
}