.main-offer {
  padding: 60px 0 70px;
}
.main-offer__title {
  margin: 0 0 30px;
}
.main-offer__text {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
.main-offer__text_grey {
  color: $grey-txt-color;
}
.main-offer__text_black {
  color: $dark-txt-color;
}
.main-offer__text_orange {
  color: $orange-txt-color;
}
.main-offer__text_bold {
  font-weight: 700;
}
.main-offer__text_medium {
  font-weight: 500;
}
.main-offer__btn {
  margin-bottom: 37px;
}
.main-offer__text_low {
  margin-bottom: 37px;
}

.main-offer__img {
  margin-bottom: 22px;

}
.main-offer__item {
  display: flex;
  font-weight: 700;
}

.main-offer__item:not(:last-child) {
  margin-bottom: 30px;
}
.main-offer__svg-wrapper {
  display: block;
  margin-right: 15px;
  fill:$orange-txt-color ;
}
.main-offer__svg {
  border: 2px solid $orange-txt-color;
  width:58px;
  height:58px;
}
