.main-offer {
  padding: 60px 0 70px;
}
.main-offer__title {
  margin: 0 0 30px;
}
.main-offer__text {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
.main-offer__text_grey {
  color: $grey-color;
}
.main-offer__text_black {
  color: $black-color;
}
.main-offer__text_orange {
  color: $orange-color;
}
.main-offer__text_bold {
  font-weight: 700;
}
.main-offer__text_medium {
  font-weight: 500;
}
.main-offer__btn {
  margin-bottom: 37px;
}
.main-offer__text_low {
  margin-bottom: 37px;
}

.main-offer__img {
  margin-bottom: 22px;

}
.main-offer__item {
  display: flex;
  position: relative;
  font-weight: 700;
}

.main-offer__item:not(:last-child) {
  margin-bottom: 30px;
}
.main-offer__svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  fill:$orange-color ;
}
.main-offer__svg {
  border: 2px solid $orange-color;
  width:58px;
  height:58px;
}
.main-offer__item-text {
  margin: 0;
  line-height: 27px;
}
.main-offer__item-text::before {
  content: "";
  position: absolute;
  background-color: $white-color;
  display: block;
  height: 36px;
  width: 40px;
  top: 12px;
  left: 25px;
}